{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand me-auto mb-2 mb-lg-0" href="#">Light Cone Inventory</a>
    <a class="nav-link active" href="logout/">Logout</a>
  </div>
</nav>

<div class="p-2">
  {% for light_cone in light_cone_list %}
  <h5>Name:</h5>
  <p>{{ light_cone.name }}</p>
  <h5>Amount:</h5>
  <p>{{ light_cone.amount }}</p>
  <h5>Rarity:</h5>
  <p>{{ light_cone.rarity }}</p>
  <h5>Path:</h5>
  <p>{{ light_cone.path }}</p>
  <h5>Description:</h5>
  <p>{{ light_cone.description }}</p>
  {% endfor %}

  <a href="add_light_cone/">
    <button>Add light cone</button>
  </a>

</div>
{% endblock content %}
